body {
    background-position: left top;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto; 
    font-family: 'Oswald';
}


div.container {
    display:block;
      width:720px;
      border-style: solid;
      border-radius: 40px;
      padding: 20px;
      overflow:auto;
      margin-bottom: 30px;
  }

  div.bar {
    display:block;
    font-size:20px;
    float:right;
      width:500px;
      height:100px;
      overflow:hidden;
  }
  div.icon {
    float: left;
    overflow:auto;
    width:200px;
    height:200px;
  }
  img.icon{
    width: 100%;
      height: 100%
  }
  div.bartitle{
    font-size: 20pt;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  div.barquest{
    font-size: 20pt;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 30px;
}

#account-bar-wrapper{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100px;
  background:#000;
}

#account-bar{
  max-width:966px;
  height:100%;
  margin:0px auto;
}



#account-bar-name{
  font-size:30px;
  margin:15px 15px 0px 15px;
  display:inline-block;
  vertical-align:bottom;
}

#account-bar-level{
  font-size:30px;
  display:inline-block;
  margin:15px 15px 0px 15px;
}

#account-bar-next-level{
  display:inline-block;
  font-size:25px;
}

#xp-bar{
  height:16px;
  width: 401px;
  background:#035;
  margin:0px 0px 0px 50px;
  display:inline-block;
  vertical-align:middle;
  border-style: solid;
  border-width: 4px;
}

#xp-bar-fill{
  height:100%;
  width:0.1%;
  background:#ff9300;
  font-size:12px;
  line-height:10px;
  text-align:right;
}

#FULL-xp-bar{
  height:16px;
  width:401px;
  background:#035;
  margin:0px 0px 0px 15px;
  display:inline-block;
  vertical-align:middle;
  border-style: solid;
  border-width: 4px;
}

#FULL-xp-bar-fill{
  height:100%;
  width:100%;
  background:#ff9300;
  font-size:12px;
  line-height:10px;
  text-align:right;
}

#doit-btn{
  margin:100px 0px 0px 0px;
}

.btn{
  display:inline-block;
  padding:5px;
  height:25px;
  background:#000;
  cursor:pointer;
}

#xp-increase-fx{
  position:relative;
  display:none;
  height:100%;
}

.xp-increase-glow1{
  position:absolute;
  margin:0px 0px 0px -2px;
  left:0px;
  top:0px;
  background:#fff;
  width:5px;
  height:100%;
  border-radius:0px;
  -webkit-filter:blur(2px);
}

.xp-increase-glow2{
  position:absolute;
  margin:-5px 0px 0px -2px;
  left:0px;
  top:0px;
  background:#aaf;
  width:5px;
  height:200%;
  border-radius:0px;
  -webkit-filter:blur(10px);
}

.xp-increase-glow3{
  position:absolute;
  margin:0px 0px 0px -5px;
  left:0px;
  top:0px;
  background:#fff;
  width:10px;
  height:100%;
  border-radius:5px;
  -webkit-filter:blur(5px);
}

#wrapper {
  display: inline-block;
  width: 300px;
}
#images {
  display: inline-block;
  width: 100px;
}
#specs {
  display: inline-block;
  width: 100px;
}



     *{ padding:0px; margin:0px;}
     body{padding:10px;}
     #close{display:none;}
     #main{border:none 2px;text-align: center;  background-color: #465e3f; width:500px;}
     ul{list-style:none;}
     #open, #close, #panel{padding:8px;}


#panel, #flip {
    padding: 2px;
    text-align: center;
    background-color: #465e3f;
    border: none 2px #c3c3c3;
}
#open, #close, #panel{padding:8px;}
#panel {
    padding: 100px;
    display: none;
}

#startButton, #canvas,#close {
    position: relative;
}

ball, bone
{
    display: block; /* because <main/> is very new */
    padding: 20px;
    background: #eeeeee;
}


#startButton {
    background-color: #ff9300;
    border: solid;
    border-width: 4px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 41px;
    cursor: pointer;
}
