

     *{ padding:0px; margin:0px;}
     body{padding:10px;}
     #close{display:none;}
     #main{border:none 2px;text-align: center;  background-color: #465e3f; width:500px;}
     ul{list-style:none;}
     #open, #close, #panel{padding:8px;}


#panel, #flip {
    padding: 2px;
    text-align: center;
    background-color: #465e3f;
    border: none 2px #c3c3c3;
}
#open, #close, #panel{padding:8px;}
#panel {
    padding: 100px;
    display: none;
}

#startButton, #canvas,#close {
    position: relative;
}

ball, bone
{
    display: block; /* because <main/> is very new */
    padding: 20px;
    background: #eeeeee;
}


#startButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}